.home-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Hero Section Styling */
.hero-section {
  position: relative;
  background: url('../assets/hero-background.JPG') no-repeat center center/cover;
  height: 50vh; /* Adjust height to occupy top half of the page */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align content to the bottom of the section */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; /* Hide overflow for cleaner layout */
}

/* Background Overlay */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay to enhance text readability */
  z-index: 1; /* Below content card */
}

/* Content Card Styling */
.content-card {
  position: relative;
  z-index: 2; /* Above the overlay */
  background-color: rgba(255, 255, 255, 0.9); /* Light background to ensure readability */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 90%;
}

/* Greeting Styling */
.greeting {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: inherit;
}

/* Waving Hand Animation */
.wave {
  display: inline-block;
  transform-origin: 70% 80%;
  animation: wave-animation 2s infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

/* Name Styling */
.name {
  font-size: 3rem;
  font-weight: bold;
  color: inherit;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Typewriter Styling */
.typewriter {
  font-size: 1.5rem;
  margin-top: 15px;
  color: inherit;
}

/* Optional Cursor Blink Styling */
.cursor {
  animation: blink 0.7s step-end infinite;
}

/* Primary Button Styling */
.primary-button {
  margin-top: 30px;
  padding: 12px 24px;
  background: linear-gradient(to right, #007bff, #00c6ff);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: inherit;
  }
}

@media (max-width: 768px) {
  .greeting {
    font-size: 2rem;
  }

  .name {
    font-size: 2.4rem;
  }

  .typewriter {
    font-size: 1.2rem;
  }

  .content-card {
    padding: 20px;
  }

  .home-container {
    padding: 15px; /* Add padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .greeting {
    font-size: 1.8rem; /* Further reduce for mobile phones */
  }

  .name {
    font-size: 2rem;
  }

  .typewriter {
    font-size: 1rem;
  }
  .home-container {
    padding: 10px; /* Further reduce padding for smaller devices */
  }
}

