.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#resume {
  scroll-margin-top: 80px; /* Adjust for any fixed header height */
}

html {
  scroll-behavior: smooth;
}

ul li a:hover {
  color: #ff6347; /* Changes text color on hover */
  transition: color 0.3s ease;
}

h3:hover {
  color: #007bff; /* Changes project title color on hover */
  cursor: pointer;
}

.active a {
  color: #ff6347; /* Highlight color */
  text-decoration: underline;
}
