/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
  }
  
  section {
    padding: 50px 20px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  section:last-child {
    border-bottom: none;
  }
  
  h1 {
    font-size: 2rem; /* 32px */
  }

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  footer {
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  p {
    font-size: 18px; /* Slightly larger for better readability */
  }
 
  @media (max-width: 768px) {
    body {
      font-size: 14px; /* Slightly smaller for mobile devices */
    }
  } 